
  /* bio principal*/
  .protag_boxes{
    justify-content:space-evenly;
    display: flex;
    margin: 0vh 0vh 0vh 2vh;
  }
  .protagonists{
    max-width: 50vh;
    height: 100%;
  }



  #divider_aside1, #divider_aside2, #divider_aside3{
    display: none;
    border: solid 0.6vh #A40606 ;
    margin-top: 3vh;
    border-top: 0px;
    padding: 0vh 0vh 1vh 0vh;
  }

  
/* SMALL CHARACTER*/
.divider_aside, .divider_aside_project, .divider_aside_img{
  border-top: 0.2vh solid #A40606;  
  margin-top: 1vh; 
  display:flex;
  padding-top: 1vh;
}

.title_aside{
  font-size: 5vh;
}


#footer{
  margin-top: 400vh;
}